.guessTheColorTitle {
  max-width: 450px;
  margin: 24px;
  margin-top: 150px;
}

.guessTheColorTitle > img {
  width: 100%;
}

#guessColor > p {
  font-family: var(--GC-font-02);
  font-weight: 400;
}

#guessColor > .back-game {
  margin-top: 24px;
}

#guessColor > .infoGame {
  text-align: center;
  margin: 0 24px;
  max-width: 550px;
  color: var(--GC-color-text);
}

.playButton > img {
  width: 60px;
}
