#guessColor .infoBar {
  width: 100%;
  margin: 24px 16px;
  display: flex;
  justify-content: space-evenly;
  color: var(--GC-color-text);
}

#guessColor .infoBar > .points {
  font-size: 24px;
  font-weight: 500;
}

h2.moves {
  color: var(--GC-color-text);
}
