#overlay {
    position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  z-index: 9;
  background: rgba(0,0,0,0.4); /* oscurece */
  backdrop-filter: blur(4px); /
}

#guessColor .gameover {
  background-color: white;
  padding: 8px;
  width: 230px;
  height: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
}

#guessColor .gameover > h2 {
  color: var(--GC-color-title);
  font-size: 30px;
}

#guessColor .gameover > div {
  width: 100%;
  height: 36px;
}

#guessColor .gameover > .gameoverBG {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

#guessColor .gameover > .stars {
  text-align: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

#guessColor .gameover > .stars > img:nth-child(1) {
  transform: translateY(3px) rotate(-6deg);
}

#guessColor .gameover > .stars > img:nth-child(3) {
  transform: translateY(3px) rotate(6deg);
}

#guessColor .gameover * {
  z-index: 11;
}

#guessColor .gameover > .gameoverBG {
  z-index: 10;
}

#guessColor .gameoverDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#guessColor .gameoverDiv > .playButton {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-radius: 8px;
  width: fit-content;
}

#guessColor .gameoverDiv > .playButton > img {
  width: 40px;
  height: 40px;
}
