.back-game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 200;
  color: rgb(255, 255, 255);
  background-color: var(--PN-colorBG);
  font-family: var(--PN-font);
}

.back-game > img {
  width: 24px;
}

.canvas > .back-game {
  width: fit-content;
  min-width: 200px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
