@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

:root {
  --GC-font-02: 'Gamja Flower', sans-serif;
  --GC-BGColor-01: #fcfbc2;
  --GC-BGColor-02: #ffc288;
  --GC-color-title: #bc26a0;
}
