@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

:root {
  --GC-font: 'Hammersmith One', sans-serif;
  --GC-BGColor-00: #223572;
  --GC-BGColor-01: #f4f9ff;
  --GC-BGColor-02: #d2ecff;
  --GC-color-text: #fffafa;
}

* {
  font-family: var(--GC-font);
}
